body {
  background: white;
  color: black;
  margin: 0px;
  padding-bottom: 70px; 
}

.movie-list > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.row > .content {
  width: auto;
}

.mastfoot {
  background-color: black;
  color: white;
  width: 100%;
}